@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

#senha{
    padding-right: 50px;
}
::-webkit-scrollbar {
    display: none;
}
.hide{
    opacity: 0 !important;
    transition: 200ms;
}
.alerta{
    opacity: 1;
    display: flex;
    background-color: rgba(199, 0, 0, 0.3);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(100, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    width: auto;
    transition: 200ms;
    /* justify-content: center; */
}
.alerta button{
    border-radius: 20%;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(100, 0, 0, 0.3);
    width: 6%;
}
.alerta button:hover{
    background-color: rgba(199, 0, 0, 0.3);;
    transition: 200ms;
}
.alerta span{
    width: 100%;
}

.alerta-bom{
    opacity: 1;
    display: flex;
    background-color: rgba(27, 145, 23, 0.404);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(15, 68, 13, 0.404);
    border-radius: 5px;
    padding: 5px;
    width: auto;
    transition: 200ms;
    /* justify-content: center; */
}
.alerta-bom button{
    border-radius: 20%;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(14, 70, 12, 0.404);
    width: 6%;
}
.alerta-bom button:hover{
    background-color: rgba(27, 145, 23, 0.404);
    transition: 200ms;
}
.alerta-bom span{
    width: 100%;
}

span{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

span2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 20%, rgba(88,0,219,1) 44%, rgba(45,0,224,1) 76%, rgba(0,138,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
}

span3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

span4{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.detalhe {
    position: fixed;
    background: url(../img/rainbow.svg);
    height: 20px;
    width: 100%;
    margin:none;
    background-repeat: no-repeat;
    background-size: cover;
}


.detalhe2 {
    
    background: url(../img/rainbow.svg);
    height: 20px;
    width: 100%;
    margin:none;
    background-repeat: no-repeat;
    background-size: cover;
}

#IconeBosch{
    padding: 10px 20px;
    margin-left: 25px;

}

#title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 10px 20px;
}

#criar{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 20px;
}


#criar::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: red;
    left: 0;
    bottom: -4px;
    transition: ease .40s;

}

#criar:hover::after {
    width: 100%;
}

#btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: red;
    left: 0;
    bottom: -4px;
    transition: ease .40s;

}

#btn:hover::after {
    width: 100%;
}

/* ------------- */





.text-center h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
    padding-top: 2%;
}

.text-center h5{
    font-family: 'Roboto', sans-serif;
    color:rgb(53, 53, 53);
    letter-spacing: 1px;
    line-height: 28px; 
    padding-bottom: 1%;
}

/* janela criar */

#text h5 {
    font-family: 'Roboto', sans-serif;
    color:rgb(53, 53, 53);
    letter-spacing: 1px;
    line-height: 28px; 
    padding-bottom: 1%;
}

/* cards */

.strongbg{
    background-color: rgb(213, 202, 186) ;    
}
.lightbg{
    background-color: rgb(213, 202, 186) ;    
}

.card{ 
    background-color: rgb(213, 202, 186) ;
    margin-top: 5%;
}

.card h5{
    margin-top: 10px;
    margin-left: 10px;
}


.box{
    display: flex;
}
.box img{   
    padding: 20px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .30s;
    object-fit: cover;
}
.box h5{
    vertical-align: bottom;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
.box img:hover{
    transform: scale(1.1);
    object-fit: .7;
}


/* modals */
.senhasDesign{
    display: flex;
}

.bi-eye{
    position: absolute;
    cursor: pointer;
    color: #000000;
    top: 51%;
    right: 27%;
}

.bi-eye-slash{
    position: absolute;
    cursor: pointer;

    top: 51%;
    right: 27%;
    color: #000000;
}

.forgot a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    transition: all .40s;
    cursor: pointer;
}

.forgot a:hover {
    color: rgb(84, 184, 255);
}


/* footer */

footer{
    width: 100%;
    color: black;
}

#footerContent{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 242, 215) ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footerContacts h3{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
}

.footerList{
   
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none
}

.footerList .footerLink{
   
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    transition: all .40s;
}

.footerList .footerLink:hover{
    color: rgb(84, 184, 255);
}

#footerCopyRight{
    
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color:  rgb(255, 242, 215) ;
    font-size: 0.9em;
    padding: 1.5rem ;
    font-weight: 100;
    margin-bottom: 1%;
}


#footerCopyRight a{
    margin-left: 2%;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

#footerCopyRight a:hover{
    color: rgb(84, 184, 255) ;
}

@media screen and (max-width: 768px){
    #footerContent{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    .box h5{
        position: relative;

    }

    .box img {
        
        max-width: 100%;
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 426px){
    #footerContent{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}

/* @media (max-width: 1200px){
    
} */


